name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Enable Corepack and install correct Yarn version
        run: |
          corepack enable
          corepack prepare yarn@4.9.2 --activate

      - name: Create .env file
        run: |
          printf '%s' "${{ secrets.ENV_FILE }}" > .env
          chmod 600 .env

      - name: Install dependencies
        run: yarn install

      - name: Build project
        run: yarn run build

      - name: Archive build files
        run: |
          tar -czf app.tar.gz .next package.json yarn.lock public .env

      - name: Upload to EC2
        uses: appleboy/scp-action@v0.1.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: 'app.tar.gz'
          target: '${{ secrets.EC2_PATH }}'

      - name: SSH Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            export PATH=/home/ubuntu/.nvm/versions/node/v23.5.0/bin:$PATH
            cd ${{ secrets.EC2_PATH }}
            tar -xzf app.tar.gz
            rm app.tar.gz
            yarn install

            # If .env exists, export its variables into the current shell
            if [ -f .env ]; then
              set -a
              . .env
              set +a
            fi

            # Restart or start PM2 with updated environment
            pm2 restart all --update-env || pm2 start yarn --name goldhand -- start

            sudo systemctl enable nginx
            sudo systemctl reload nginx
